<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Pokemon GO Shiny Tracker</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-87DrmpqHRiY8hPLIr7ByqhPIywuSsjuQAfMXAE0sMUpY3BM7nXjf+mLIUSvhDArs" crossorigin="anonymous">
</head>

<body>
<div id="app">
  <div id="stats">
    <h1>
      Living Dex
      <div class="subHeader">A living dex tracker for Pokemon GO</div>
    </h1>
    <div class="stat">Shinys Collected: {{ shinyCollected.length }} of {{ shinyCount.length }}</div>
    <div class="stat">Alolan Collected: {{ alolanCollected.length }} of {{ alolanCount.length }}</div>
    <div class="stat">Regional Collected: {{ regionalCollected.length }} of {{ regionalCount.length }}</div>
  </div>

  <div id="pokemon-selector">
    <div id="nav">
      <a href='#' class="tab" v-on:click="makeActive('shiny')"
         v-bind:class="{ active: activeTab == 'shiny' }">Shinies</a>
      <a href='#' class="tab" v-on:click="makeActive('alolan')"
         v-bind:class="{ active: activeTab == 'alolan' }">Alolan</a>
      <a href='#' class="tab" v-on:click="makeActive('regional')"
         v-bind:class="{ active: activeTab == 'regional' }">Regional</a>
    </div>

    <div class="tab-content">
      <div class="pokemon shiny"
           v-show="isActiveTab('shiny')" v-for="(pokemon, index) in pokemon" :key="pokemon.dex"
           v-if="pokemon.shiny"
           v-bind:class="{ owned: pokemon.shinyOwned }"
           v-on:click="toggleShinyOwned(pokemon)">
        <div class="img"
             v-bind:style="[pokemon.dex != (null || '') ? { backgroundImage: 'url(/pokemon-go-tracker/img/sprites/pokemon/shiny/' + pokemon.dex + '.png)' } : {}]"></div>
        <div class="info">{{ pokemon.name }}</div>
      </div>

      <div class="pokemon alolan"
           v-show="isActiveTab('alolan')" v-for="(pokemon, index) in pokemon" :key="pokemon.dex"
           v-if="pokemon.alolan"
           v-bind:class="{ owned: pokemon.alolanOwned }"
           v-on:click="toggleAlolanOwned(pokemon)">
        <div class="img"
             v-bind:style="[pokemon.dex != null ? { backgroundImage: 'url(/pokemon-go-tracker/img/sprites/pokemon/' + pokemon.dex + '-alola.png)' } : {}]"></div>
        <div class="info">{{ pokemon.name }}</div>
      </div>

      <div class="pokemon regional"
           v-show="isActiveTab('regional')" v-for="(pokemon, index) in pokemon" :key="pokemon.dex"
           v-if="pokemon.regional"
           v-bind:class="{ owned: pokemon.regionalOwned }"
           v-on:click="toggleRegionalOwned(pokemon)">
        <div class="img"
             v-bind:style="[pokemon.dex != null ? { backgroundImage: 'url(/pokemon-go-tracker/img/sprites/pokemon/' + pokemon.dex + '.png)' } : {}]"></div>
        <div class="info">{{ pokemon.name }}</div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
